body {
    background-color: black;
    color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;
}

/* 1st section navbar */
nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
}

.icon {
    display: none;
}

.nav-item-2 ul {
    display: flex;
    justify-content: end;
    border: 1px solid white;
    border-radius: 20px;
    padding-inline-start: 0;
}

.nav-item-2 li {
    list-style: none;
    padding: 10px;
}

.nav-text {
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: orangered;
}

.nav-home {
    background-color: orangered;
    border-radius: 20px;
}


/* banner section */
.custom-font {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.banner {
    display: flex;
    margin-bottom: 30px;
    background-image: linear-gradient(rgba(128, 128, 128, 0.042), black);
}

.banner img {
    width: 50%;
    padding-left: 20em;
}

.banner p {
    margin-bottom: 50px;
}

.banner-text {
    font-size: 80px;
    font-weight: 500;
}

.banner-club {
    background-color: orangered;
    border-radius: 15px;
    padding: 10px 40px;
    border-color: orangered;
    color: aliceblue;
}

.banner-app {
    border-radius: 15px;
    padding: 10px 40px;
    background-color: black;
    color: aliceblue;
    margin-left: 20px;
    border: 1px solid white;
}

.workout-video {
    background-color: rgba(162, 156, 156, 0.145);
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    font-size: 5px;
    position: relative;
    display: inline-block;
    left: -150%;
    top: 30%
}

.workout-video span {
    font-size: 20px;
}

.tutorial-video {
    background-color: rgba(162, 156, 156, 0.145);
    border-radius: 10px;
    padding: 10px;
    width: max-content;
    font-size: 5px;
    display: flex;
    position: relative;
    left: -400%;
    top: 80%
}

.tutorial-video span {
    font-size: 20px;
}

.tutorial-video h3 {
    background-color: orangered;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}



/* 2nd section */
.habit-text {
    text-align: center;
    margin-top: 10%;
}

.habit-text h1 {
    font-size: 30px;
    font-weight: 700;
}

.habit-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 5%;
}

.single-habit img {
    border-radius: 50%;
}

.single-habit h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.extra-mile-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(128, 128, 128, 0.473);
    margin: 40px 100px;
    border-radius: 10px;
    align-items: center;
}

.extra-mile-section h1 {
    font-size: 30px;
    font-weight: 700;
}

.extra-mile-section button {
    background-color: orangered;
    border-radius: 10px;
    border: orangered;
    padding: 10px 40px;
}

.extra-mile-section img {
    width: 80%;
    padding: 10px;
}

.extra-mile {
    padding-left: 30px;
    padding-bottom: 40px;
}



/* 3rd section */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 150px;
}

.container:hover {
    transform: scale(.8);
    transition: transform 2s ease-in;
}

.container h1 {
    font-size: 60px;
    color: aliceblue;
}

i {
    color: orange;
    font-size: 100px;
}

.banner-half img {
    width: 100%;
}